---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<iframe width="1206" height="678" 
src="https://www.youtube.com/embed/yhbaJiOdnBM?list=PLg-TbObGUf2_bT4rAJeR6A2ntmbGRscpC" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>


<!-- {% include base_path %} -->

<!-- {% for post in site.teaching reversed %} -->
<!--  {% include archive-single.html %} -->
<!-- {% endfor %} -->
