---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<body>

<div class="header">
  <h2>2020</h2>
  <h3>Description</h3>
</div>

<iframe width="854" height="480" 
src="https://www.youtube.com/embed/yhbaJiOdnBM?list=PLg-TbObGUf2_bT4rAJeR6A2ntmbGRscpC" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>

</body>
<!-- {% include base_path %} -->

<!-- {% for post in site.teaching reversed %} -->
<!--  {% include archive-single.html %} -->
<!-- {% endfor %} -->
