---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<body>

<div class="header">
  <h2>2020</h2>
  <h3>Description</h3>
  <p>In Michaelmas 2020, the Oxford Foundry, CodeSoc and OxWoCS partnered to deliver an introductory course for coding in Python. 
    As the OxWoCS representative for the course, I organised the course, created and delivered content, taught online in Zoom 
    and seeked volunteers to support with the teaching. If you are interested to follow the course, there are teasers for the course below or contact me for more information.
    This course is aimed for beginners and for people with no programming experience from any discipline.
    
    I hope you enjoy it!
    
   <h3>Session 1</h3>
</div>

<iframe width="854" height="480" 
src="https://www.youtube.com/embed/yhbaJiOdnBM?list=PLg-TbObGUf2_bT4rAJeR6A2ntmbGRscpC" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>

</body>
<!-- {% include base_path %} -->

<!-- {% for post in site.teaching reversed %} -->
<!--  {% include archive-single.html %} -->
<!-- {% endfor %} -->
